:root {
  --bg: lightblue;
  --snowglobe-bg: blue;
  --snowglobe-size: 100px;
  --snowman: white;
}

.container {
  background-color: var(--bg);
}

.snowglobe {
  background-color: var(--snowglobe-bg);
  width: var(--snowglobe-size);
  height: var(--snowglobe-size);
  border-radius: 50%;
}
