body {
  background: black;
}

.aurora {
  box-shadow: 0 0 45vmax 45vmax lightseagreen;
  position: relative;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: lightseagreen;
  opacity: 0.5;
  animation: aurora 20s linear infinite, fade 10s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes aurora {
  0% {
    background-color: lightseagreen;
  }
  20% {
    background-color: lightskyblue;
  }
  40% {
    background-color: lightgreen;
  }
  60% {
    background-color: lightgoldenrodyellow;
  }
  80% {
    background-color: lightpink;
  }
  100% {
    background-color: lightseagreen;
  }
}

.puppy {
  z-index: 1;
  width: 50vw;
  height: 50vw;
  animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 280px;
  }
}

.ground {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}
