:root {
  --width: 100vw;
  --height: 100vh;
  --ball-width: 10vw;
  --ball-height: 10vw;
}

body {
  background: black;
}

.container {
  position: relative;
  width: var(--width);
  height: var(--height);
  top: 0;
  left: 0;
}

.aurora {
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: aurora 20s linear infinite, fade 10s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes aurora {
  0% {
    background-color: lightseagreen;
  }
  20% {
    background-color: lightskyblue;
  }
  40% {
    background-color: lightgreen;
  }
  60% {
    background-color: lightgoldenrodyellow;
  }
  80% {
    background-color: lightpink;
  }
  100% {
    background-color: lightseagreen;
  }
}

.puppy {
  display: block;
  width: var(--ball-width);
  height: var(--ball-height);
  border-radius: 50%;
  background-color: #3673cf;
  position: absolute;
  animation: moveX 10s linear 0s infinite alternate,
    moveY 12s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: var(--width) - var(--ball-width) / 2;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: var(--height) - var(--ball-height) / 2;
  }
}

.ground {
  z-index: -1;
  position: absolute;
  width: var(--width);
  height: 10vh;
  left: 0;
  bottom: 0;
}

.tree {
  z-index: -2;
  position: absolute;
  width: var(--width);
  left: 0;
  bottom: 5vh;
}
